@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@300&family=Space+Mono&display=swap');

#welcome_message{
    font-weight: bold;
    font-family: 'Space Mono', monospace;
}

h1{
    margin-top: 2px;
    margin-bottom: 1px;
}

div{
    border: 1px solid rgba(215, 252, 51, 0.89);
    margin-top: 1px;
    margin-bottom: 1px;
    
}

div img{
    border: 1px solid rgba(51, 105, 252, 0.89);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 25%;
    
}

.divtitle{
    border: 0px solid rgba(32, 94, 226, 0.89);
    margin-top: 1px;
    
}

.centrado{

    border: 2px solid rgba(0, 0, 0, 0.89);
    align-items: center;
    justify-content: center;

}

.precio_card{

    position: absolute;
    top: 4%;
    right: 4%;
    border: 0px solid #f349dc;
    z-index: 5;
    /* font-weight: bold; */
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    
}

.center {
    border: 5px solid #FFFF00;
    text-align: center;
    align-items: center;
    }